@import '../../styles/global';

#prod-card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
  background-color: #25212b;
  width: 300px;
  color: white;
  transition: transform 0.25s ease, filter 0.25s linear;
  cursor: pointer;

  &:hover {
    z-index: 9999;
    transform: scale(1.05);
    filter: drop-shadow(0px 4px 50px rgba(255, 166, 0, 0.479));

    .card-title {
      background: linear-gradient(
            261.36deg,
            rgb(255, 191, 0) 0%,
            rgb(255, 187, 0) 101.79%
          )
          padding-box,
        linear-gradient(
            112.7deg,
            rgba(190, 180, 207, 0.47) -0.94%,
            rgba(0, 0, 0, 0) 72.43%
          )
          border-box;
    }
  }

  .card-title {
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;

    background: linear-gradient(261.36deg, #322d3c, #26222c) padding-box,
      linear-gradient(
          112.7deg,
          rgba(190, 180, 207, 0.47) -0.94%,
          rgba(0, 0, 0, 0) 72.43%
        )
        border-box;

    border: 1px solid transparent;
    transition: background 0.25s ease-out;

    .corner-img {
      position: absolute;
      top: 0;
      right: 24px;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #25212b;
      border-radius: 0 0 15px 15px;
    }

    .title-container {
      display: flex;
      //   justify-content: center;
      align-items: center;
      margin: 24px auto 24px 24px;
      h3 {
        word-wrap: break-word;
        margin-left: 24px;
        margin-right: 24px;
      }
    }
  }

  .card-body {
    .card-body-container {
      margin: 24px;

      .value-display {
        display: flex;
        margin-top: 24px;
        .sshape {
          height: 48px;
          width: 4px;
          border-radius: 4px;
          background-color: $primary;
        }
        section {
          display: inline-block;
          margin-left: 16px;
        }
      }
    }

    .position-counter {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      :first-child {
        font-size: 0.938rem;
        font-family: $title-font;
      }
      p {
        font-weight: bold;
        // color: $secondary;
      }
    }
  }
}
