@import '../../../styles/global';

#nav-container {
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  z-index: 99999999999;
  height: 96px;
  width: 100vw;
  background: radial-gradient(
    100% 22449.71% at 9.72% 0%,
    #332d3d 0%,
    #292530 100%
  );

  .n-container {
    display: flex;
    max-width: 1170px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    .logo {
      height: 40px;
    }

    .link-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

nav {
  display: flex;

  a {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-right: 44px;
    justify-self: center;
    transition: font-weight 0.25s ease;

    &:hover {
      font-weight: bold;
    }

    &::after {
      display: block;
      content: attr(title);
      font-weight: bold;
      overflow: hidden;
      visibility: hidden;
      height: 0;
    }
  }
  .active {
    color: $primary;
    font-weight: bold;
  }
}

.nav-btn-menu {
  position: relative;
  height: 45px;
  width: 45px;
  font-size: 1em;
  font-weight: bold;
  background: linear-gradient(95.03deg, #2d2c33 0%, #2d2c33 100.65%) padding-box,
    linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.34) 0%,
        rgba(0, 0, 0, 0.17) 100%
      )
      border-box;
  border: 1px solid transparent;
  border-radius: 55px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    background: linear-gradient(95.03deg, #42404b 0%, #2d2c33 100.65%)
        padding-box,
      linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.473) 0%,
          rgba(0, 0, 0, 0.17) 100%
        )
        border-box;
  }
}

.nav-btn-primary {
  padding: 15px 30px;
  margin-right: 20px;
  color: $text-dark;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(95.03deg, #ffbb00 0%, #ff9900 100.65%) padding-box,
    linear-gradient(95.26deg, #ffeeb8 5.57%, rgba(0, 0, 0, 0) 97.7%) border-box;
  border: 1px solid transparent;
  border-radius: 55px;
  transition: transform 2s;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    background: linear-gradient(95.03deg, #ff9900 0%, #ff9900 100.65%)
        padding-box,
      linear-gradient(95.26deg, #ffeeb8 5.57%, rgba(0, 0, 0, 0.199) 97.7%)
        border-box;
  }
}

@media screen and (min-width: 1194px) {
  .nav-container {
    .n-container {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
