.prod-header {
  display: flex;

  .container {
    height: 160px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .product-title {
      display: flex;
      align-items: center;

      img {
        height: 60px;
        margin-right: 30px;
      }
    }
  }
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .about-product {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    h1 {
      margin-right: 1rem;
    }

    p {
      line-height: 2.2rem;
      margin-right: 1rem;
    }
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .prod-header {
    .container {
      margin: 30px auto 60px auto;
      flex-direction: column;
      height: auto;
      justify-content: space-evenly;
      .product-title {
        margin-bottom: 60px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .summary {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .product-title {
    justify-content: center;
    h2 {
      width: min-content;
    }
  }
}
